<a href="https://colab.research.google.com/github/Msepulveda2011/Mineria-de-datos-/blob/main/Ej_Python_1862646.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1

In [ ]:
a = "Marlene Michel Sepulveda Bermudez"
b = "1862646"
print ("El estudiante es", a,"y su matricula", b)

El estudiante es Marlene Michel Sepulveda Bermudez y su matricula 1862646

# Ejercicio 2

In [ ]:
salir = 0
while salir != -1:
   a1 = int(input("Introduce un número:" ))
   b1 = int(input("Introduce otro número: "))
   print ("Seleccionar una opcion")
   print ("1- Sumar    2-Restar     3-Multiplicar     4-División      5-Exponente")
   opcion = int(input("Que opcion desea (1,2,3,4,5): "))
   if opcion == 1:
     res = a1 + b1
   if opcion == 2:
     res = a1 - b1
   if opcion == 3:
     res = a1*b1
   if opcion == 4:
     res = a1 / b1
   if opcion == 5:
     res = a1**b1
   print ("La respuesta es: ", res)
   salir = int(input("Si desea salir ingresar -1 y si no ingrese 0: "))

Introduce un número:2
Introduce otro número: 3
Seleccionar una opcion
1- Sumar    2-Restar     3-Multiplicar     4-División      5-Exponente
Que opcion desea (1,2,3,4,5): 5
La respuesta es:  8
Si desea salir ingresar -1: -1

# Ejercicio 3

In [ ]:
a=0
arreglo=[0]*10
while a<10:
  arreglo[a]=3*(a+1)
  a=a+1
sum=0
for i in range(0,len(arreglo)):
  sum=sum+arreglo[i]
print("Lista de los datos multiplos de 3:\n",arreglo, "\n")
print("La suma de los datos:",sum)

Lista de los datos multiplos de 3:
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

La suma de los datos: 165

# Ejercicio 4

In [196]:
a1 = int(input("Introduce un número:" ))
if a1%2 == 0:
  print("El número es par")
else:
  print("El número es impar")

for i in range(2, a1):
        if a1%i == 0:
            print("No es primo,", i, "es divisor")
            break
if  a1%i != 0:
    print("Es primo")

Introduce un número:16
El número es par
No es primo, 2 es divisor

# Ejercicio 5

In [206]:
salir = 0
while salir != -1:
   a1 = int(input("Introduce un número:" ))
   b1 = int(input("Introduce otro número: "))
   print ("Seleccionar una opcion")
   print("{1}.-Suma (A+B)\n{2}.-Resta (A-B)\n{3}.-Multiplicación (A*B)\n{4}.-División (A/B)\n{5}.-Exponente (A^B)\n")
   opc=input("¿Que opcion desea? (1, 2, 3, 4, 5):")
   float(res)
   if opc=="1":
     res=a1+b1
   else:
     if opc=="2":
       res=a1-b1
     else:
       if opc=="3":
         res=a1*b1
       else:
         if opc=="4":
           res=a1/b1
         else:
           res=a1**b1
   print ("La respuesta es: ", res)
   salir = int(input("Si desea salir ingresar -1 y si no ingrese  0: "))

Introduce un número:9
Introduce otro número: 2
Seleccionar una opcion
{1}.-Suma (A+B)
{2}.-Resta (A-B)
{3}.-Multiplicación (A*B)
{4}.-División (A/B)
{5}.-Exponente (A^B)

¿Que opcion desea? (1, 2, 3, 4, 5):5
La respuesta es:  81
Si desea salir ingresar -1 y si no ingrese  0: -1

#**Ejercicios con estructuras básicas de python.**

# Tuplas

In [262]:
flotante = 0.23
integer = 52
boleana  = True
compleja = 5 + 3j
print("La variable",flotante,"es de tipo",type(flot))
print("La variable",integer,"es de tipo",type(inte))
print("La variable",boleana,"es de tipo",type(bole))
print("La variable",compleja,"es de tipo",type(comp))
print("\n")
num = (4,2,5,7,1,3,8,5,2,4,8,2,7,4,5)
print("Primer numero:",num[0])
print("Ultimo numero:",num[len(num)-1])
print("\n")

caracter=('Numero','Valor','Dato')
num = num.__add__(caracter)
print("Los caracter:",caracter)
print("Tupla agregando los datos:",num)

print("\n")

buscar =int(input("Existe la variable: "))
if buscar in num:
  print("La variable",buscar,"existe dentro de la tupla")
else:
  print("La variable",buscar,"no existe dentro de la tupla")

La variable 0.23 es de tipo <class 'float'>
La variable 52 es de tipo <class 'int'>
La variable True es de tipo <class 'bool'>
La variable (5+3j) es de tipo <class 'complex'>


Primer numero: 4
Ultimo numero: 5


Los caracter: ('Numero', 'Valor', 'Dato')
Tupla agregando los datos: (4, 2, 5, 7, 1, 3, 8, 5, 2, 4, 8, 2, 7, 4, 5, 'Numero', 'Valor', 'Dato')


Existe la variable: 8
La variable 8 existe dentro de la tupla

# Lista

In [247]:
import random
def pares_impares_cambios(aleatorios):
    print("Ingrese cuantos numeros aleatorios desea obtener")
    n=int(input())
    aleatorios = [random.randint(0,100) for _ in range(n)]
    print(aleatorios)
    cambios = [n for n in aleatorios]
    pares = [n for n in aleatorios if n % 2 == 0]
    impares = [n for n in aleatorios if n % 2 != 0]
    pares.sort(reverse=True)
    impares.sort()
    cambios.append(4)
    cambios.reverse()
    cambios.pop()
    cambios.extend([1,2,3,4,5,6])
    return pares, impares, cambios

pares, impares, cambios = pares_impares_cambios(aleatorios)
print('Pares: ', pares)
print('Impares: ', impares)
print("Lista con funciones:", cambios)
cambios.clear()

Ingrese cuantos numeros aleatorios desea obtener
10
[63, 72, 78, 56, 91, 23, 68, 31, 89, 17]
Pares:  [78, 72, 68, 56]
Impares:  [17, 23, 31, 63, 89, 91]
Lista con funciones: [4, 17, 89, 31, 68, 23, 91, 56, 78, 72, 1, 2, 3, 4, 5, 6]

# Diccionarios

In [256]:
dic = {'Vanesa': 20, 'Flor': 22, 'Cecilia': 21, 'Jazmin': 19, 'Juan': 25, 'Ashli': 17}
print("Lista completa:\n", dic)
dic1 = dic.values()
print("Lista con valores:\n", dic1)
dic2 = sorted(dic.values())
print("Lista con valores ordenados:\n", dic2)
print("\nNombres de la lista completa:")
for i in dic:
  print(i)
print("\n")
dic['Eduardo']=24
dic['Arturo']=20
print("Lista original agregando 2 datos:\n", dic)

Lista completa:
 {'Vanesa': 20, 'Flor': 22, 'Cecilia': 21, 'Jazmin': 19, 'Juan': 25, 'Ashli': 17}
Lista con valores:
 dict_values([20, 22, 21, 19, 25, 17])
Lista con valores ordenados:
 [17, 19, 20, 21, 22, 25]

Nombres de la lista completa:
Vanesa
Flor
Cecilia
Jazmin
Juan
Ashli


Lista original agregando 2 datos:
 {'Vanesa': 20, 'Flor': 22, 'Cecilia': 21, 'Jazmin': 19, 'Juan': 25, 'Ashli': 17, 'Eduardo': 24, 'Arturo': 20}

# Sets

In [263]:
import random as numale
sets = set()
#Los sets no se pueden repetir los datos asi que siempre va a ser 1 al 25
for i in range(0,100):
  sets.add(numale.randint(1,25))
print("Set:\n",sets)
print("\n")
print("La longitud del set es:",len(sets))
print("\n")
cinco = [0]  * 5
for i in range(5):
  cinco[i] = numale.randint(1,10)
print("El set:",sets)
print("\n")
print("La lista de 5 elementos aleatorios es:",cinco)
print("\n")
for i in range(0,5):
  if cinco[i] in sets:
    print("El elemento",cinco[i],"se encuentra en el set.")
  else:
    print("El elemento",cinco[i],"no se encuentra en el set.")
#Siempre se encntraran ya que el 1 al 10 esta integrado al 1 al 25

Set:
 {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}


La longitud del set es: 24


El set: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}


La lista de 5 elementos aleatorios es: [1, 4, 7, 5, 8]


El elemento 1 se encuentra en el set.
El elemento 4 se encuentra en el set.
El elemento 7 se encuentra en el set.
El elemento 5 se encuentra en el set.
El elemento 8 se encuentra en el set.